/* 
main-page-bg-color - #f7f6f2 
text-color - #2b2a29
cards-bg-color - #e0dfdc
button-background-color - #2c7b17
span-color - #65635f
font-family - nunito google fonts
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f7f6f2;
  color: #2b2a29;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.recipe-heading {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
  padding: 1.8rem 0;
  background-color: #e0dfdc;
  text-align: center;
}

.recipe-container {
  max-width: 120rem;
  padding: 2.4rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
}

.recipe-img {
  width: 75%;
}

.recipe-heading--secondary {
  font-size: 3.2rem;
  color: #2b2a29;
  margin: 1.6rem 0 2rem 0;
}

.recipe-desc {
  width: 80%;
  margin: auto;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 6rem;
}

.ingredients-heading {
  font-size: 2.8rem;
  text-decoration: underline;
  margin-bottom: 2.4rem;
}

.ingredients-heading--list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  margin-bottom: 6rem;
}

.ingredients-heading--list > * {
  background-color: #2b2a29;
  color: #fff;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.steps-heading {
  margin-bottom: 2.4rem;
  font-size: 2.8rem;
  text-decoration: underline;
}

.steps-heading--list {
  margin-bottom: 4.8rem;
}

.steps-heading--list li {
  text-align: left;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
}

.footer {
  background-color: #2b2a29;
  color: #fff;
  padding: 2.4rem;
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
}
